  /* MI PALETA DE COLORES  */

  :root {
    --color-principal: rgb(0, 23, 31);
    --color-fuente-principal: rgb(255, 255, 255);
    --color-fuente-secundario: #00A8E8;
    --color-borde: #003459;
    --color-fuente-trasfondo: rgba(87, 87, 87, 0.2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
  }

  /* REGLAS GENERALES DE MI PAGINA */
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: var(--color-principal);
    color: var(--color-fuente-principal);
    overflow-x: hidden;
  }

  /* .contendor-pagina {
    max-width: 1050px;
    width: 100%;
  } */

  h1 {
    margin-right: 35px;
    display: inline-block;
  }

  h2 {
    font-size: 64px;
    font-weight: bold;
    margin: 0 auto 42px;
  }

  h2::first-letter,
  h1::first-letter {
    color: var(--color-fuente-secundario);
  }

  button {
    border-radius: 10px;
    background: var(--color-fuente-secundario);
    border: 1px solid var(--color-fuente-principal);
    font-weight: 1000;
    cursor: pointer;
    box-shadow: 2px 2px 4px var(--color-fuente-principal);
    transition: transform 0.3s ease, box-shadow 0.4s ease;
  }

  button:hover {
    border-radius: 10px;
    background: var(--color-fuente-secundario);
    border: 1px solid var(--color-fuente-principal);
    font-weight: 1000;
    cursor: pointer;
    box-shadow: none;
    transform: translate(2px, 2px);
  }

  strong {
    color: var(--color-fuente-secundario);
  }

  .exclamacion::first-letter {
    color: var(--color-fuente-secundario);
  }

  .exclamacion::before {
    content: "¡";
    color: var(--color-fuente-secundario);
  }

  .exclamacion::after {
    content: "!";
    color: var(--color-fuente-secundario);
  }

  /* ENCABEZADO */


  .hero-image-complemento {
    z-index: 1;
    animation: levitar 4s infinite;
  }

  header {
    display: flex;
    position: fixed;
    left: 0;
    width: 100%;
    height: 150px;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(0, 23, 31, 0.6));
    transition: top 0.3s ease;
    z-index: 10;
  }

  .contenedor-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    width: 100%;
  }

  .logo {
    display: flex;

  }

  .logo img {
    height: 200px;
    width: 200px;
  }

  .menu ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 0;
  }

  .menu ul li {
    display: flex;
    margin-left: 7vw;
    justify-content: space-between;
  }

  .menu ul li:first-child {
    margin-left: 0;
  }

  .menu ul li a {
    text-decoration: none;
    color: var(--color-fuente-principal);
    transition: all 0.3s ease;
  }

  .nav-link:hover {
    color: var(--color-fuente-secundario);
    scale: 1.3;
  }

  /* INICIO */

  .banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    transition: background-image 2s ease-out;
  }
  .banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  .fondosHero{
    height: 1000px;
    width: 100%;
    background-size: cover;
    position: absolute;
  }

  #fondoHero1{
    background-image: 
    linear-gradient(to bottom, rgba(0, 23, 31, 0.2) 80%, var(--color-principal)), 
    linear-gradient(to right, rgba(0, 23, 31, 0.2) 85%, var(--color-principal)), 
    linear-gradient(to left, rgba(0, 23, 31, 0.2) 85%, var(--color-principal)), 
    url('../imagenes/hero-image/hero-image1.jpg');
  }
  
  #fondoHero2{
    background-image: 
    linear-gradient(to bottom, rgba(0, 23, 31, 0.2) 80%, var(--color-principal)), 
    linear-gradient(to right, rgba(0, 23, 31, 0.2) 85%, var(--color-principal)), 
    linear-gradient(to left, rgba(0, 23, 31, 0.2) 85%, var(--color-principal)), 
    url('../imagenes/hero-image/hero-image2.jpg');
  }
  
  #fondoHero3{
    background-image: 
    linear-gradient(to bottom, rgba(0, 23, 31, 0.2) 80%, var(--color-principal)), 
    linear-gradient(to right, rgba(0, 23, 31, 0.2) 85%, var(--color-principal)), 
    linear-gradient(to left, rgba(0, 23, 31, 0.2) 85%, var(--color-principal)), 
    url('../imagenes/hero-image/hero-image3.jpg');
  }

  .mainSlide{
    animation-name: mainSlideAnim;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .nextSlide{
    animation-name: nextSlideAnim;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .hiddenSlide{
    display: none;
  }

  @keyframes mainSlideAnim{
    0%{margin-left: 0%;}
    100%{margin-left: -100%;} 
  }
  @keyframes nextSlideAnim {
    0%{margin-left: 100%;}
    100%{margin-left: 0;}
  }

  .banner-content .hero-image-complemento {
    position: absolute;
    
  }

  .inicio {
    position: relative;
    margin-top: 250px;
    display: flex;
    z-index: 2;
    width: 100%;
    max-width: 1050px;
  }

  .imagen-perfil {
    height: 67vh;
    max-width: 506px;
    margin-right: 50px;
    object-fit: cover;
    mask-image: linear-gradient(var(--color-principal) 95%,
        transparent);
  }

  .inicio article {
    height: 55vh;
  }

  .inicio article h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 7vh;
    margin-top: 0;
  }

  .inicio article h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }

  .inicio article h2:nth-child(3) {
    color: var(--color-fuente-secundario);
  }

  .inicio article h2:nth-child(4) {
    margin: 0 auto 9vh;
  }

  .inicio article p {
    margin: 0 auto 9vh;
  }

  .contenedor-botones-inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .boton-descargar-cv {
    height: 68px;
    width: 200px;
    font-size: 15px;
  }

  .contenedor-botones-contacto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenedor-botones-contacto a {
    display: flex;
    margin: 0 22px;
    align-items: center;
  }

  .boton-contacto {
    height: 68px;
    width: 68px;
    filter: drop-shadow(2px 2px 2px var(--color-fuente-secundario));
    transition: transform 0.3s ease, filter 0.4s ease;
  }

  .boton-contacto:hover {
    filter: drop-shadow(0 0 0 var(--color-fuente-secundario));
    transform: translate(2px, 2px);
  }


  /* PROYECTOS */

  .proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 267px;
  }

  .contenedor-grid-proyectos {
    display: flex;
    gap: 5px;
  }

  .grid-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 5px;
    max-width: 500px;
    min-width: 300px;
  }

  .grid-proyectos div {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 2px;
    overflow: hidden;

  }

  .grid-proyectos div img {

    height: auto;
    width: 100%;
    border-radius: 2px;
    transition-duration: 1s;
    cursor: pointer;
    animation-name: revelar;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    object-fit: cover;


    &:hover {
      scale: 1.2;
    }
  }

  .grid-proyectos div:first-child {
    grid-column: 1 / 3;
  }

  .grid-proyectos div:last-child {
    grid-column: -1 / -3;
  }

  .contenedor-imagen button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .boton-derecha {
    right: 50px;
  }

  .boton-izquierda {
    left: 50px;
  }

  .contenedor-imagen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease-in;
  }

  .move {
    transform: translateX(0);
  }

  .img-mostrar {
    height: 80%;
    border-radius: 10px;
    transform: scale(0);
    display: block;
    transition: transform .2s .2s;
  }

  .mostrar {
    transform: scale(1);
  }

  .copy {
    position: fixed;
    bottom: 40px;
  }


  /* EXPERIENCIA */

  .experiencia{
    display: flex;
    margin-top: 267px;
    flex-direction: column;
  }

  .wrap{
    width: 1050px;
    max-width: 90%;
    margin: 30px auto;
  }

  ul.tabs{
    background-color: var(--color-fuente-secundario);
    list-style: none;
    display: flex;
  }

  ul.tabs li{
    width: 18%;
  }

  ul.tabs li a{
    color: var(--color-fuente-principal);
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: block;
    padding: 20px 0px;
    transition: .4s;
  }

  ul.tabs li a:hover{
    background-color: var(--color-borde);

  }

  .active{
    background: var(--color-principal)
  }

  ul.tabs li a .tab-text{
    margin-left: 8px;
  }

  .secciones{
    width: 100%;
    background-color: var(--color-borde);
  }

  .secciones article{
    padding: 30px;
  }

  .secciones article p{
    text-align: justify;
  }

  /* DESARROLLO */

  .desarrollo {
    position: relative;
    margin-top: 300px;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* HABLIDADES */

  .habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
    width: 100%;
    text-align: center;
    z-index: 3;
  }


  .back-video{
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100vw;
    object-fit: cover;
    opacity: .5;
  }

  .habilidades h2 {
    margin-bottom: 2px;
  }

  .contenedor-habilidad-especialidad {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .habilidad-especialidad {
    position: relative;
    font-size: 100px;
    margin: 0;
    top: 22px;
    color: var(--color-fuente-trasfondo);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 45px;
    place-items: center;
  }

  .grid img {
    height: 145px;
    width: 145px;
    border-radius: 10px;
    border: 3px solid var(--color-borde);
  }



  /* FORMULARIO */

  .formulario {
    height: 100vh;
    position: relative;
    margin-top: 185px;
    overflow-y: hidden;
  }

  .formulario::before{
    content: "";
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0, 23, 31, 0.2) 50%, var(--color-principal));
    z-index: 1;
  }

  .formulario::after{
    content: "";
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
    height: 50%;
    background-image: linear-gradient(to bottom, rgba(0, 23, 31, 0.2) 50%, var(--color-principal));
    z-index: 1;
  }

  .formulario #formulario-contacto{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
  }

  .commit::after {
    content: "!";
    color: var(--color-fuente-secundario);
  }

  .formulario form input,
  .formulario form textarea {
    max-width: 715px;
    height: 385px;
    width: 100%;
    margin: 58px 0;
    background: none;
    border-radius: 10px;
    border: 1px solid var(--color-fuente-secundario);
    text-align: center;
    color: var(--color-fuente-principal);
    font-size: 24px;
    
  }

  .formulario form textarea::placeholder {
    padding-top: 170px;
    text-align: center;
  }

  .formulario form input {
    margin: 63px 0 0;
    height: 84px;
  }

  .formulario form button {
    height: 84px;
    width: 347px;
    font-size: 40px;
    font-weight: 1000;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    color: var(--color-borde);
    min-width: 500px;
    max-width: 1000px;
    border: 2px solid var(--color-borde);
    background-image: url(../interes/modal.png);
  }

  .modal-content p:first-of-type,
  .modal-content p:nth-child(3),
  .modal-content p:nth-child(5) {
    font-size: 25px;
    font-weight: 900;
  }

  .cerrar-pantalla {
    height: 68px;
    width: 200px;
    font-size: 15px;
    box-shadow: 2px 2px 4px var(--color-borde);
  }

  /* FOOTER */

  .pie {
    margin-top: 58px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-fuente-trasfondo);
    width: 100vw;
  }

  .contendor-footer{
    display: flex;
    width: 1050px;
    align-items: center;
    margin: auto;
    justify-content: space-between;
  }

  .pie span {
    max-width: 550px;
  }

  .pie span p:first-of-type {
    color: var(--color-fuente-principal);
  }

  .pie-contacto {
    max-width: 225px;
  }

  .pie .contenedor-botones-contacto {
    display: flex;
    gap: 20px;
    width: auto;
  }

  .pie .contenedor-botones-contacto a {
    margin: 0;
  }



  /* MEDIAS QUERY */

  /* PANTALLAS MEDIANAS */
  @media screen and (max-width: 1100px) {

    body {
      padding: 0 50px;
      align-items: center;
    }

    .hero-image-complemento {
      display: none;
    }

    .contenedor-encabezado {
      padding: 0 50px;
    }

    .menu {
      margin-left: 50px;
    }

    .inicio {
      flex-direction: column;
      align-items: center;
    }

    .inicio .imagen-perfil {
      margin: 0;
    }

    .inicio article {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .inicio article h1 {
      margin: 0;
    }

    .inicio article h2:nth-child(4) {
      display: none;
    }


    .inicio article h2 {
      margin: 30px 0;
    }

    .contenedor-grid-proyectos {
      flex-direction: column;
    }

  }

  /* PANTALLAS PEQUEÑAS */
  @media screen and (max-width: 740px) {

    .menu {
      margin-left: 25px;
    }

    .menu ul li:first-of-type {
      display: none;
    }

    .description {
      display: none;
    }

    .card-image .card-img {
      border: none;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
      row-gap: 45px;
      column-gap: 0;
      max-width: 460px;
    }

    ul.tabs li{
      width: none;
      flex-basis: 0;
      flex-grow: 1;
    }

    .contenedor-habilidad-especialidad {
      align-items: center;
    }

    .pie span p {
      display: none;
    }

  }

  /* PANTALLAS MUY PEQUEÑAS */
  @media screen and (max-width: 530px) {

    body {
      padding: 10px 10px;
    }

    h2 {
      font-size: 40px;
    }

    .encabezado {
      display: none;
    }

    .inicio {
      margin-top: 50px;
    }

    .imagen-perfil {
      width: 90vw;
    }

    .inicio article h2 {
      font-size: 35px;
    }

    .contenedor-botones-inicio {
      width: 80vw;
    }

    .contenedor-botones-contacto {
      width: auto;
    }

    .grid {
      max-width: 400px;
    }

    ul.tabs li a{
      padding: 15px 0px;
    }

    ul.tabs li a .tab-text{
      display: none;
    }

    .secciones article{
      padding: 20px;
    }
  }

  @keyframes levitar {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
