  /* MI PALETA DE COLORES  */

  :root {
    --color-principal: rgb(0, 23, 31);
    --color-fuente-principal: rgb(255, 255, 255);
    --color-fuente-secundario: #00A8E8;
    --color-borde: #003459;
    --color-fuente-trasfondo: rgba(87, 87, 87, 0.2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
  }

  /* REGLAS GENERALES DE MI PAGINA */
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: var(--color-principal);
    color: var(--color-fuente-principal);
  }

  .contendor-pagina {
    max-width: 1050px;
    width: 100%;
  }

  h1 {
    margin-right: 35px;
    display: inline-block;
  }

  h2 {
    font-size: 64px;
    font-weight: bold;
    margin: 0 auto 42px;
  }

  h2::first-letter,
  h1::first-letter {
    color: var(--color-fuente-secundario);
  }

  button {
    border-radius: 10px;
    background: var(--color-fuente-secundario);
    border: 1px solid var(--color-fuente-principal);
    font-weight: 1000;
    cursor: pointer;
    box-shadow: 2px 2px 4px var(--color-fuente-principal);
    transition: transform 0.3s ease, box-shadow 0.4s ease;
  }

  button:hover {
    border-radius: 10px;
    background: var(--color-fuente-secundario);
    border: 1px solid var(--color-fuente-principal);
    font-weight: 1000;
    cursor: pointer;
    box-shadow: none;
    transform: translate(2px, 2px);
  }

  strong {
    color: var(--color-fuente-secundario);
  }

  .exclamacion::first-letter {
    color: var(--color-fuente-secundario);
  }

  .exclamacion::before {
    content: "¡";
    color: var(--color-fuente-secundario);
  }

  .exclamacion::after {
    content: "!";
    color: var(--color-fuente-secundario);
  }

  /* ENCABEZADO */

  header {
    display: flex;
    position: fixed;
    left: 0;
    width: 100%;
    height: 150px;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(0, 23, 31, 0.6));
    transition: top 0.3s ease;
    z-index: 10;
  }

  .contenedor-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    width: 100%;
  }

  .logo {
    display: flex;

  }

  .logo img {
    height: 200px;
    width: 200px;
  }

  .menu ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 0;
  }

  .menu ul li {
    display: flex;
    margin-left: 7vw;
    justify-content: space-between;
  }

  .menu ul li:first-child {
    margin-left: 0;
  }

  .menu ul li a {
    text-decoration: none;
    color: var(--color-fuente-principal);
    transition: all 0.3s ease;
  }

  .nav-link:hover {
    color: var(--color-fuente-secundario);
  }



  /* INICIO */

  .inicio {
    position: relative;
    margin-top: 250px;
    display: flex;
  }

  .imagen-perfil {
    height: 67vh;
    max-width: 506px;
    margin-right: 50px;
    object-fit: cover;
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      var(--color-principal) 0%,
      var(--color-principal) 95%,
      transparent 100%
    );
    
  }

  .inicio article {
    height: 55vh;
  }

  .inicio article h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 7vh;
    margin-top: 0;
  }

  .inicio article h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }

  .inicio article h2:nth-child(3) {
    color: var(--color-fuente-secundario);
  }

  .inicio article h2:nth-child(4) {
    margin: 0 auto 9vh;
  }

  .inicio article p {
    margin: 0 auto 9vh;
  }

  .contenedor-botones-inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .boton-descargar-cv {
    height: 68px;
    width: 200px;
    font-size: 15px;
  }

  .contenedor-botones-contacto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenedor-botones-contacto a {
    display: flex;
    margin: 0 22px;
    align-items: center;
  }

  .boton-contacto {
    height: 68px;
    width: 68px;
  }


  /* PROYECTOS */

  .proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 267px;
  }

  .slide-container {
    max-width: 1800px;
    width: 100%;
    background-color: var(--color-principal);
  }

  .slide-content {
    margin: 0 50px;
  }

  .image-content,
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 14px 40px 14px;
    overflow: hidden
  }

  .image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }

  .proyectos p {
    margin-bottom: 50px;
  }

  .card-image {
    position: relative;
    height: 200px;
    max-width: 200px;
    width: 100%;
    padding: 3px;
  }

  .card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid var(--color-borde);
  }

  .name {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-fuente-principal);
  }

  .description {
    font-size: 14px;
    color: var(--color-fuente-principal);
    text-align: center;
  }

  .ver-mas {
    font-size: 16px;
    color: var(--color-fuente-principal);
    padding: 8px 16px;
    background-color: var(--color-principal);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 4px var(--color-fuente-secundario);
  }

  .ver-mas:hover {
    background: var(--color-fuente-secundario);
    color: black;
    box-shadow: 1px 1px 2px var(--color-fuente-principal);
  }


  /* DESARROLLO */

  .desarrollo {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  /* HABLIDADES */

  .habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
    width: 100%;
    text-align: center;
  }

  .habilidades h2 {
    margin-bottom: 2px;
  }

  .contenedor-habilidad-especialidad {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .habilidad-especialidad {
    position: relative;
    font-size: 100px;
    margin: 0;
    top: 22px;
    color: var(--color-fuente-trasfondo);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 45px;
    place-items: center;
  }

  .grid img {
    height: 145px;
    width: 145px;
    border-radius: 10px;
    border: 3px solid var(--color-borde);
  }



  /* FORMULARIO */

  .formulario {
    margin-top: 185px;
  }

  .formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .commit::after {
    content: "!";
    color: var(--color-fuente-secundario);
  }

  .formulario form input,
  .formulario form textarea {
    max-width: 715px;
    height: 385px;
    width: 100%;
    margin: 58px 0;
    background: none;
    border-radius: 10px;
    border: 1px solid var(--color-fuente-secundario);
    text-align: center;
    color: var(--color-fuente-principal);
    font-size: 24px;
  }

  .formulario form textarea::placeholder {
    padding-top: 170px;
    text-align: center;
  }

  .formulario form input {
    margin: 63px 0 0;
    height: 84px;
  }

  .formulario form button {
    height: 84px;
    width: 347px;
    font-size: 40px;
    font-weight: 1000;
  }


  /* FOOTER */

  .pie {
    display: flex;
    height: 150px;
    margin-top: 58px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: var(--color-fuente-trasfondo);
  }

  .pie span {
    max-width: 550px;
  }

  .pie span p:first-of-type {
    color: var(--color-fuente-principal);
  }

  .pie-contacto {
    max-width: 225px;
  }

  .pie .contenedor-botones-contacto {
    display: flex;
    gap: 20px;
    width: auto;
  }

  .pie .contenedor-botones-contacto a {
    margin: 0;
  }



  /* MEDIAS QUERY */

  /* PANTALLAS MEDIANAS */
  @media screen and (max-width: 1100px) {

    body {
      padding: 0 50px;
      align-items: center;
    }

    .contenedor-encabezado {
      padding: 0 50px;
    }

    .menu {
      margin-left: 50px;
    }

    .inicio {
      flex-direction: column;
      align-items: center;
    }

    .inicio .imagen-perfil {
      margin: 0;
    }

    .inicio article {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .inicio article h1 {
      margin: 0;
    }

    .inicio article h2:nth-child(4) {
      display: none;
    }


    .inicio article h2 {
      margin: 30px 0;
    }

  }

  /* PANTALLAS PEQUEÑAS */
  @media screen and (max-width: 740px) {

    .menu {
      margin-left: 25px;
    }

    .menu ul li:first-of-type {
      display: none;
    }

    .description {
      display: none;
    }

    .card-image .card-img {
      border: none;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
      row-gap: 45px;
      column-gap: 0;
      max-width: 460px;
    }

    .contenedor-habilidad-especialidad {
      align-items: center;
    }

    .pie span p {
      display: none;
    }

  }

  /* PANTALLAS MUY PEQUEÑAS */
  @media screen and (max-width: 530px) {

    body {
      padding: 10px 10px;
    }

    h2 {
      font-size: 40px;
    }

    .encabezado {
      display: none;
    }

    .inicio {
      margin-top: 50px;
    }

    .imagen-perfil {
      width: 90vw;
    }

    .inicio article h2 {
      font-size: 35px;
    }

    .contenedor-botones-inicio {
      width: 80vw;
    }

    .contenedor-botones-contacto {
      width: auto;
    }

    .grid {
      max-width: 400px;
    }


  }